<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is a hbs file</h1>

    <form action="/calculate">
    <label for="n1">Enter num1:</label>
    <input type="number" name="n1"> <br>
    <label for="n2">Enter num2:</label>
    <input type="number" name="n2"> <br>
    <button  type="submit"> submit</button>
    </form>

    <h1> ans is : {{ans}}</h1>
</body>
</html>